  <h4 class="ui center aligned medium icon header">
    <i class="circular orange keyboard icon"></i>
    Say Something
  </h4>

<div class="ui two column grid">

  <div class="twelve wide column">
    <div class="ui card fluid raised chatbox">
      <div class="content" id="messages">
        <div id="chatbox" class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message,html: { class: "ui reply form", role: "form" }, url: messages_create_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input focus">
              <%= f.text_field :body, placeholder: "Enter a message..."  %>
              <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui inverted vertical menu">
      <a class="active item">
        Online
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
    </div>
  </div>

</div>